<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylan.mapper.UserMapper">


    <select id="selectUserByPhoneNumberAndPassword" resultType="UserEntity">
       select u.id, u.phone_number, u.password
       from t_user as u
       where
           phone_number = #{param.phoneNumber}
         and password = #{param.password};
    </select>

</mapper>